.features {
	@include border;
	margin-bottom: 1rem;
	margin-left: 1rem;

	.flex {
		flex-direction: column;
		margin: 0 auto;
	}

	textarea {
		width: 96%;
	}

	button {
		width: 28px;
		font-size: 11px;
	}
}