input[type='text'] {
	height: 24px !important;

	&:read-only {
		width: 4ch !important;
	}
}

input[type='number'] {
	width: 6ch !important;
	height: 24px !important;
}

button[type='roll'].words {
	font-size: 12px !important;

	&::before {
		content: "" !important;
	}
}

.smaller {
	height: 16px !important;
}

.repcontainer>.repitem {
	display: flex;
}

.sheetform {
	display: flex;
}

.charsheet {
	padding: 0 !important;
	display: inline-block !important;
	margin: 0 auto !important;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.sheet-toggle~.sheet-toggle-checked {
	display: none;
}

.sheet-toggle~.sheet-toggle-unchecked {
	display: flex;
}

.sheet-toggle:checked~.sheet-toggle-checked {
	display: flex;
	position: absolute;
	background-color: white;
}