.trades {
	max-width: 293.6px;
	@include border;
	margin-bottom: 1rem;

	.repitem {
		display: flex;
		gap: 0.2rem;
	}

	select {
		height: 24px !important;
		font-size: 12px !important;

		.stat {
			max-width: 8ch !important;
		}
	}

	input[type='checkbox'] {
		margin: 0 auto 0.75rem auto;
	}

	button {
		font-size: 11px;
	}

	.flex {
		display: flex;
	}
}