.container {
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	display: grid;
	grid-template-areas:
		'info info info info info info info info'
		'info info info info info info info info'
		'stats stats stats points points points defenses defenses'
		'stats stats stats points points points defenses defenses'
		'stats stats stats points points points defenses defenses'
		'stats stats stats combat combat combat death death'
		'stats stats stats combat combat combat death death'
		'stats stats stats combat combat combat move move'
		'stats stats stats combat combat combat resources resources'
		'stats stats stats attacks attacks attacks resources resources'
		'stats stats stats attacks attacks attacks resources resources'
		'stats stats stats attacks attacks attacks resources resources'
		'trades trades trades inventory inventory inventory features features'
		'trades trades trades inventory inventory inventory features features'
		'languages languages languages inventory inventory inventory features features'
		'languages languages languages inventory inventory inventory features features'
		'combat-masteries combat-masteries combat-masteries inventory inventory inventory features features'
		'combat-masteries combat-masteries combat-masteries inventory inventory inventory features features'
		'currency currency currency inventory inventory inventory features features'
		'currency currency currency inventory inventory inventory features features';
}