.header-pc {
	background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-header-bg.png);
	background-size: 100% 100%;
	column-gap: 2rem;
	row-gap: .5rem;
	justify-content: center;
	display: grid;
	grid-template-areas:
		'player player class class level'
		'name name ancestry ancestry cm';

	span {
		display: block;
	}
}