.info {
	column-gap: 2rem;
	row-gap: .5rem;
	justify-content: center;
	display: grid;
	grid-template-areas:
		'player player class class level'
		'name name ancestry ancestry cm';

	span {
		display: block;
	}
}