.languages {
	max-width: $max-width;
	@include border;
	margin-bottom: 1rem;
	display: grid;

	.repitem {
		display: flex;
		justify-content: space-between;
	}

	select {
		height: 24px !important;
	}

	input[type='checkbox'] {
		margin: 0 0 0.75rem 0;
	}

	button {
		width: 28px;
		font-size: 11px;
	}
}