.points {
	@include border;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	margin-left: 1rem;

	.flex {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
	}

	span {
		display: block;
	}
}