.resources {
	@include border;
	margin-bottom: 1rem;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;

	[data-groupname="repeating_resource"] input[type='text'] {
		width: 14ch !important;
	}

	.repcontainer>.repitem {
		justify-content: space-between;
	}

	.flex {
		display: flex;
		justify-content: space-between;
	}

	input[type='number'].grit {
		margin-right: 1.5rem;
	}

	input[type='text'] {
		margin-bottom: .5rem;
	}

	button {
		width: 28px;
		font-size: 11px;
	}
}