.sheet-pc {
	padding: 0;
	display: grid;
	grid-template-areas:
		'header-pc header-pc header-pc header-pc header-pc header-pc header-pc header-pc'
		'header-pc header-pc header-pc header-pc header-pc header-pc header-pc header-pc'
		'stats stats stats points points points defenses defenses'
		'stats stats stats combat combat combat death death'
		'stats stats stats attacks attacks attacks move move'
		'stats stats stats attacks attacks attacks resources resources'
		'stats stats stats inventory inventory inventory resources resources'
		'stats stats stats inventory inventory inventory resources resources'
		'stats stats stats inventory inventory inventory features features'
		'stats stats stats inventory inventory inventory features features'
		'stats stats stats inventory inventory inventory features features'
		'stats stats stats inventory inventory inventory features features'
		'trades trades trades inventory inventory inventory features features'
		'trades trades trades inventory inventory inventory features features'
		'languages languages languages inventory inventory inventory features features'
		'languages languages languages inventory inventory inventory features features'
		'combat-masteries combat-masteries combat-masteries inventory inventory inventory features features'
		'combat-masteries combat-masteries combat-masteries inventory inventory inventory features features'
		'currency currency currency inventory inventory inventory features features'
		'currency currency currency inventory inventory inventory features features';
}