.stats {
	display: grid;
	max-width: $max-width;
	@include border;
	margin-bottom: 1rem;
	grid-template-areas:
		'prime-stat prime-name . .'
		'. awareness-masteries awareness-value awareness-skill'
		'might-stat might-name . might-save'
		'. athletics-masteries athletics-value athletics-skill'
		'. intimidation-masteries intimidation-value intimidation-skill'
		'agility-stat agility-name . agility-save'
		'. acrobatics-masteries acrobatics-value acrobatics-skill'
		'. trickery-masteries trickery-value trickery-skill'
		'. stealth-masteries stealth-value stealth-skill'
		'charisma-stat charisma-name . charisma-save'
		'. animal-masteries animal-value animal-skill'
		'. influence-masteries influence-value influence-skill'
		'. insight-masteries insight-value insight-skill'
		'intelligence-stat intelligence-name . intelligence-save'
		'. investigation-masteries investigation-value investigation-skill'
		'. medicine-masteries medicine-value medicine-skill'
		'. survival-masteries survival-value survival-skill'
		'. arcana-masteries arcana-value arcana-skill'
		'. history-masteries history-value history-skill'
		'. nature-masteries nature-value nature-skill'
		'. occultism-masteries occultism-value occultism-skill'
		'. religion-masteries religion-value religion-skill'
		'. skill8-masteries skill8-value skill8-skill'
		'. skill9-masteries skill9-value skill9-skill';

	span {
		display: block;
	}

	input[type='text'] {
		width: 10ch !important;
	}

	// TODO: Do this better
	.might-name::before {
		top: 263px;
		@include border-line;
	}

	.agility-name::before {
		top: 388px;
		@include border-line;
	}

	.charisma-name::before {
		top: 548px;
		@include border-line;
	}

	.intelligence-name::before {
		top: 707px;
		@include border-line;
	}

	.arcana-skill::before {
		top: 865px;
		@include border-line;
	}
}