.container {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.sheet-pc {
  padding: 0;
  display: grid;
  grid-template-areas: "header-pc header-pc header-pc header-pc header-pc header-pc header-pc header-pc" "header-pc header-pc header-pc header-pc header-pc header-pc header-pc header-pc" "stats stats stats points points points defenses defenses" "stats stats stats combat combat combat death death" "stats stats stats attacks attacks attacks move move" "stats stats stats attacks attacks attacks resources resources" "stats stats stats inventory inventory inventory resources resources" "stats stats stats inventory inventory inventory resources resources" "stats stats stats inventory inventory inventory features features" "stats stats stats inventory inventory inventory features features" "stats stats stats inventory inventory inventory features features" "stats stats stats inventory inventory inventory features features" "trades trades trades inventory inventory inventory features features" "trades trades trades inventory inventory inventory features features" "languages languages languages inventory inventory inventory features features" "languages languages languages inventory inventory inventory features features" "combat-masteries combat-masteries combat-masteries inventory inventory inventory features features" "combat-masteries combat-masteries combat-masteries inventory inventory inventory features features" "currency currency currency inventory inventory inventory features features" "currency currency currency inventory inventory inventory features features";
}

.info {
  grid-area: info;
}

.player {
  grid-area: player;
}

.class {
  grid-area: class;
}

.level {
  grid-area: level;
}

.name {
  grid-area: name;
}

.ancestry {
  grid-area: ancestry;
}

.cm {
  grid-area: cm;
}

.trades {
  grid-area: trades;
}

.languages {
  grid-area: languages;
}

.combat-masteries {
  grid-area: combat-masteries;
}

.currency {
  grid-area: currency;
}

.points {
  grid-area: points;
}

.defenses {
  grid-area: defenses;
}

.combat {
  grid-area: combat;
}

.attacks {
  grid-area: attacks;
}

.inventory {
  grid-area: inventory;
}

.death {
  grid-area: death;
}

.move {
  grid-area: move;
}

.resources {
  grid-area: resources;
}

.features {
  grid-area: features;
}

.stats {
  grid-area: stats;
}

.skills {
  grid-area: skills;
}

.prime-stat {
  grid-area: prime-stat;
}

.prime-name {
  grid-area: prime-name;
}

.might-stat {
  grid-area: might-stat;
}

.might-name {
  grid-area: might-name;
}

.might-save {
  grid-area: might-save;
}

.agility-stat {
  grid-area: agility-stat;
}

.agility-name {
  grid-area: agility-name;
}

.agility-save {
  grid-area: agility-save;
}

.charisma-stat {
  grid-area: charisma-stat;
}

.charisma-name {
  grid-area: charisma-name;
}

.charisma-save {
  grid-area: charisma-save;
}

.intelligence-stat {
  grid-area: intelligence-stat;
}

.intelligence-name {
  grid-area: intelligence-name;
}

.intelligence-save {
  grid-area: intelligence-save;
}

.awareness-skill {
  grid-area: awareness-skill;
}

.awareness-masteries {
  grid-area: awareness-masteries;
  min-width: 80px;
}

.awareness-value {
  grid-area: awareness-value;
}

.athletics-skill {
  grid-area: athletics-skill;
}

.athletics-masteries {
  grid-area: athletics-masteries;
  min-width: 80px;
}

.athletics-value {
  grid-area: athletics-value;
}

.intimidation-skill {
  grid-area: intimidation-skill;
}

.intimidation-masteries {
  grid-area: intimidation-masteries;
  min-width: 80px;
}

.intimidation-value {
  grid-area: intimidation-value;
}

.acrobatics-skill {
  grid-area: acrobatics-skill;
}

.acrobatics-masteries {
  grid-area: acrobatics-masteries;
  min-width: 80px;
}

.acrobatics-value {
  grid-area: acrobatics-value;
}

.trickery-skill {
  grid-area: trickery-skill;
}

.trickery-masteries {
  grid-area: trickery-masteries;
  min-width: 80px;
}

.trickery-value {
  grid-area: trickery-value;
}

.stealth-skill {
  grid-area: stealth-skill;
}

.stealth-masteries {
  grid-area: stealth-masteries;
  min-width: 80px;
}

.stealth-value {
  grid-area: stealth-value;
}

.animal-skill {
  grid-area: animal-skill;
}

.animal-masteries {
  grid-area: animal-masteries;
  min-width: 80px;
}

.animal-value {
  grid-area: animal-value;
}

.influence-skill {
  grid-area: influence-skill;
}

.influence-masteries {
  grid-area: influence-masteries;
  min-width: 80px;
}

.influence-value {
  grid-area: influence-value;
}

.insight-skill {
  grid-area: insight-skill;
}

.insight-masteries {
  grid-area: insight-masteries;
  min-width: 80px;
}

.insight-value {
  grid-area: insight-value;
}

.investigation-skill {
  grid-area: investigation-skill;
}

.investigation-masteries {
  grid-area: investigation-masteries;
  min-width: 80px;
}

.investigation-value {
  grid-area: investigation-value;
}

.medicine-skill {
  grid-area: medicine-skill;
}

.medicine-masteries {
  grid-area: medicine-masteries;
  min-width: 80px;
}

.medicine-value {
  grid-area: medicine-value;
}

.survival-skill {
  grid-area: survival-skill;
}

.survival-masteries {
  grid-area: survival-masteries;
  min-width: 80px;
}

.survival-value {
  grid-area: survival-value;
}

.arcana-skill {
  grid-area: arcana-skill;
}

.arcana-masteries {
  grid-area: arcana-masteries;
  min-width: 80px;
}

.arcana-value {
  grid-area: arcana-value;
}

.history-skill {
  grid-area: history-skill;
}

.history-masteries {
  grid-area: history-masteries;
  min-width: 80px;
}

.history-value {
  grid-area: history-value;
}

.nature-skill {
  grid-area: nature-skill;
}

.nature-masteries {
  grid-area: nature-masteries;
  min-width: 80px;
}

.nature-value {
  grid-area: nature-value;
}

.occultism-skill {
  grid-area: occultism-skill;
}

.occultism-masteries {
  grid-area: occultism-masteries;
  min-width: 80px;
}

.occultism-value {
  grid-area: occultism-value;
}

.religion-skill {
  grid-area: religion-skill;
}

.religion-masteries {
  grid-area: religion-masteries;
  min-width: 80px;
}

.religion-value {
  grid-area: religion-value;
}

.skill8-skill {
  grid-area: skill8-skill;
}

.skill8-masteries {
  grid-area: skill8-masteries;
  min-width: 80px;
}

.skill8-value {
  grid-area: skill8-value;
}

.skill9-skill {
  grid-area: skill9-skill;
}

.skill9-masteries {
  grid-area: skill9-masteries;
  min-width: 80px;
}

.skill9-value {
  grid-area: skill9-value;
}

.header-pc {
  grid-area: header-pc;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 0.5rem;
  justify-content: space-around;
  display: grid;
  grid-template-areas: "player player class class level" "name name ancestry ancestry cm";
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  width: 800px;
  margin-bottom: 1rem;
}
.header-pc span {
  display: block;
}

.stats {
  display: grid;
  max-width: 266.6px;
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  grid-template-areas: "prime-stat prime-name . ." ". awareness-masteries awareness-value awareness-skill" "might-stat might-name . might-save" ". athletics-masteries athletics-value athletics-skill" ". intimidation-masteries intimidation-value intimidation-skill" "agility-stat agility-name . agility-save" ". acrobatics-masteries acrobatics-value acrobatics-skill" ". trickery-masteries trickery-value trickery-skill" ". stealth-masteries stealth-value stealth-skill" "charisma-stat charisma-name . charisma-save" ". animal-masteries animal-value animal-skill" ". influence-masteries influence-value influence-skill" ". insight-masteries insight-value insight-skill" "intelligence-stat intelligence-name . intelligence-save" ". investigation-masteries investigation-value investigation-skill" ". medicine-masteries medicine-value medicine-skill" ". survival-masteries survival-value survival-skill" ". arcana-masteries arcana-value arcana-skill" ". history-masteries history-value history-skill" ". nature-masteries nature-value nature-skill" ". occultism-masteries occultism-value occultism-skill" ". religion-masteries religion-value religion-skill" ". skill8-masteries skill8-value skill8-skill" ". skill9-masteries skill9-value skill9-skill";
}
.stats span {
  display: block;
}
.stats input[type=text] {
  width: 10ch !important;
}
.stats .might-name::before {
  top: 263px;
  position: absolute;
  content: "";
  border-top: 0.25rem solid black;
  width: 32.6%;
  left: 46px;
}
.stats .agility-name::before {
  top: 388px;
  position: absolute;
  content: "";
  border-top: 0.25rem solid black;
  width: 32.6%;
  left: 46px;
}
.stats .charisma-name::before {
  top: 548px;
  position: absolute;
  content: "";
  border-top: 0.25rem solid black;
  width: 32.6%;
  left: 46px;
}
.stats .intelligence-name::before {
  top: 707px;
  position: absolute;
  content: "";
  border-top: 0.25rem solid black;
  width: 32.6%;
  left: 46px;
}
.stats .arcana-skill::before {
  top: 865px;
  position: absolute;
  content: "";
  border-top: 0.25rem solid black;
  width: 32.6%;
  left: 46px;
}

.trades {
  max-width: 266.6px;
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.trades .repitem {
  display: flex;
  gap: 0.2rem;
}
.trades select {
  height: 24px !important;
  font-size: 12px !important;
}
.trades select .stat {
  max-width: 8ch !important;
}
.trades input[type=checkbox] {
  margin: 0 auto 0.75rem auto;
}
.trades button {
  width: 28px;
  font-size: 11px;
}
.trades .flex {
  display: flex;
}

.languages {
  max-width: 266.6px;
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.languages .repitem {
  display: flex;
  justify-content: space-between;
}
.languages select {
  height: 24px !important;
}
.languages input[type=checkbox] {
  margin: 0 0 0.75rem 0;
}
.languages button {
  width: 28px;
  font-size: 11px;
}

.combat-masteries {
  max-width: 266.6px;
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.combat-masteries textarea {
  width: 96%;
}

.currency {
  max-width: 266.6px;
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
}
.currency textarea {
  width: 96%;
}

.points {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}
.points .flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.points span {
  display: block;
}

.defenses {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
}
.defenses .flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.defenses span {
  display: block;
}

.combat {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attacks {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: grid;
}
.attacks [data-groupname=repeating_attack] input[type=text] {
  width: 12ch !important;
}
.attacks .repcontainer > .repitem {
  justify-content: space-between;
}
.attacks .flex {
  display: flex;
  justify-content: space-between;
}
.attacks input[type=text] {
  margin-bottom: 0.5rem;
}
.attacks button {
  width: 28px;
  font-size: 11px;
}

.inventory {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.inventory [data-groupname=repeating_inventory] input[type=text] {
  width: 14ch !important;
}
.inventory .repcontainer > .repitem {
  justify-content: space-between;
}
.inventory .flex {
  display: flex;
}
.inventory input[type=text] {
  margin-bottom: 0.5rem;
}
.inventory button {
  width: 28px;
  font-size: 11px;
}

.death {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.move {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.resources {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.resources [data-groupname=repeating_resource] input[type=text] {
  width: 14ch !important;
}
.resources .repcontainer > .repitem {
  justify-content: space-between;
}
.resources .flex {
  display: flex;
  justify-content: space-between;
}
.resources input[type=number].grit {
  margin-right: 1.5rem;
}
.resources input[type=text] {
  margin-bottom: 0.5rem;
}
.resources button {
  width: 28px;
  font-size: 11px;
}

.features {
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.features button {
  width: 28px;
  font-size: 11px;
}

input[type=text] {
  height: 24px !important;
}
input[type=text]:-moz-read-only {
  width: 4ch !important;
}
input[type=text]:read-only {
  width: 4ch !important;
}

input[type=number] {
  width: 6ch !important;
  height: 24px !important;
}

.repcontainer > .repitem {
  display: flex;
}

.charsheet {
  padding: 0 !important;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}