textarea {
  /* Prevents the textarea from expanding outside of its parent */
  box-sizing: border-box;
}

.autoExpand {
  /* hides overflow that is caused by the span */
  overflow: hidden;
  /* Allows the input's absolute positioning to be relative to this parent div */
  position: relative;
  /* Whatever feels good to you, prevents a new span from collapsing to 0. */
  min-width: 50px;
  /* Will fit the width to the contents without going outside itself or collapsing smaller than its content, though we will be using min-width in the case where there's no content. */
  width: fit-content;
  /* Prevent the span from defining the height of the input container which can't be multiline */
}
.autoExpand span {
  visibility: hidden;
  font-size: 1em;
  /* Matching my input's padding so that the widths are correct */
  padding: 0 8px;
}
.autoExpand input {
  /* removes the input from the DOM flow, allowing the span to exist in the same space */
  position: absolute;
  /* Inputs match the width of the parent element as defined by the spans */
  width: 100%;
  font-size: 1em;
}

.cog {
  position: relative;
  width: max-content;
  height: max-content;
}
.cog input {
  opacity: 0;
  z-index: 1;
  position: relative;
}
.cog input:checked ~ span::before {
  content: "2";
}
.cog span {
  font-family: "Pictos";
  opacity: 0.5;
  position: absolute;
  left: 0;
  color: black;
}
.cog span::before {
  content: "y";
}
.cog:hover input ~ span,
.cog:hover input:checked ~ span {
  opacity: 1;
}

.toggle + .toggle-checked, .toggle:checked + .toggle-unchecked {
  display: none;
}
.toggle:checked + .toggle-checked, .toggle + .toggle-unchecked {
  display: grid;
}

.radiocontainer {
  display: flex;
  gap: 10px;
}
.radiocontainer .radiobox {
  order: 1;
  border: 1px solid black;
  border-radius: 50% !important;
  background: grey;
  height: 1rem !important;
  width: 1rem !important;
  appearance: none;
  -webkit-appearance: none;
  z-index: 1;
}
.radiocontainer .radiobox.reset {
  order: 2;
  background-color: black;
}
.radiocontainer .radiobox:checked {
  opacity: 0;
  z-index: 0;
  position: absolute;
}
.radiocontainer .radiobox:checked ~ .radiobox {
  order: 3;
  background-color: transparent;
}

.bold {
  font-weight: bold;
}

button[type=roll].words {
  font-size: 12px !important;
}

button[type=roll].words::before {
  content: "" !important;
}

.character {
  display: none;
}

.tabsToggle[value=character] ~ .character {
  display: block;
}

.configuration {
  display: none;
}

.tabsToggle[value=configuration] ~ .configuration {
  display: block;
}

.journal {
  display: none;
}

.tabsToggle[value=journal] ~ .journal {
  display: block;
}

.container .pc {
  display: grid;
  grid-template-areas: "header" "sheet";
}

.header .player {
  grid-area: player;
}

.header .class {
  grid-area: class;
}

.header .subclass {
  grid-area: subclass;
}

.header .level {
  grid-area: level;
}

.header .name {
  grid-area: name;
}

.header .ancestry {
  grid-area: ancestry;
}

.header .background {
  grid-area: background;
}

.header .cm {
  grid-area: cm;
}

.header .cog {
  grid-area: cog;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas: "info cog";
  grid-template-columns: 725px 25px;
  justify-content: space-around;
  width: 750px;
  margin: 0 auto;
  border: 0.25rem solid black;
  border-radius: 12px;
  padding: 1rem;
}
.header .toggle .toggle-unchecked,
.header .toggle .toggle-checked {
  grid-area: info;
}
.header .toggle + .toggle-unchecked {
  grid-template-areas: "player class level" "name ancestry cm";
  justify-content: space-around;
}
.header .toggle + .toggle-checked {
  grid-template-areas: "class subclass" "ancestry background";
  justify-content: space-around;
}
.header input[type=number] {
  margin: 0 auto;
}

.player {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.class {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subclass {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.level {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ancestry {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.background {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cm {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cog {
  display: flex;
  flex-direction: column;
  text-align: center;
}