.pc {
	display: grid;
	grid-template-areas:
		"header"
		"sheet";

	.sheet {
		display: grid;
		grid-template-areas: "column1 column2 column3";
		grid-template-columns: 1.5fr 1fr 1fr;

		.column1,
		.column2,
		.column3 {
			display: grid;
		}

		.column1 {
			min-width: 290px;
			max-width: 335px;
			grid-template-areas:
				"stats"
				"trades"
				"languages"
				"combat-masteries"
				"currency";
		}

		.column2 {
			grid-template-areas:
				"points"
				"combat"
				"attacks"
				"inventory";
		}

		.column3 {
			grid-template-areas:
				"defenses"
				"death"
				"move"
				"resources"
				"features";
		}
	}
}

@each $header in $headers {
	.header {
		.#{$header} {
			grid-area: $header;
		}
	}
}

@each $section in $sections {
	.#{$section} {
		grid-area: $section;
	}
}

@each $stat in $stats {
	.#{$stat}-stat {
		grid-area: $stat + "-stat";
	}

	.#{$stat}-name {
		grid-area: $stat + "-name";
	}

	.#{$stat}-save {
		grid-area: $stat + "-save";
	}
}

@each $skill in $skills {
	.#{$skill}-skill {
		grid-area: $skill + "-skill";
		margin-bottom: 0.25rem;
	}

	.#{$skill}-masteries {
		grid-area: $skill + "-masteries";
		display: flex;
		align-items: center;
	}

	.#{$skill}-value {
		grid-area: $skill + "-value";
	}
}
