$stats: prime, might, agility, charisma, intelligence;
$skills: awareness, athletics, intimidation, acrobatics, trickery, stealth, animal, influence, insight, investigation, medicine, survival, arcana, history, nature, occultism, religion;
$headers: player, class, subclass, level, character, ancestry, background, combatMastery, cog;
$sections: sheet, column1, column2, column3, header, stats;