+cog('header')
	+set('checked')
		+spanInput({ name: 'class', heading: 'Class', placeholder: 'Class' })
		+spanInput({ name: 'subclass', heading: 'Subclass', placeholder: 'Subclass' })
		+spanInput({ name: 'ancestry', heading: 'Ancestry', placeholder: 'Ancestry' })
		+spanInput({ name: 'background', heading: 'Background', placeholder: 'Background' })
	+set('unchecked')
		+spanInput({ name: 'player', heading: 'Player Name', placeholder: 'Enter Your Name' })
		+spanInput({ name: 'character', class: 'name', heading: 'Character Name', attr: 'character_name', placeholder: 'Enter Your Character\'s Name' })
		+spanInput({ name: 'class', heading: 'Class & Subclass', attr: 'class-subclass', placeholder: 'Class - Subclass', readonly: true })
		+spanInput({ name: 'ancestry', heading: 'Ancestry & Background', attr: 'ancestry-background', placeholder: 'Ancestry - Background', readonly: true })
		+spanInput({ name: 'level', heading: 'Level', value: 1, type: 'number', min: 1, max: 20 })
		+spanInput({ name: 'cm', heading: 'Combat Mastery', value: 1, type: 'number', readonly: true })