// TABS
- tabs = ['character', 'journal', 'configuration']
+tabs('character', tabs)
	+set('character')
		<h2>Character</h2>
		<span>character Stuff Goes here </span>
	+set('journal')
		<h2>Journal/Notes</h2>
		<span>Journal/Notes Stuff Goes here</span>
	+set('configuration')
		<h2>Config/Settings</h2>
		<span>Sheet Config/Settings goes here</span>

// DETAILs
+details
	+set('summary')
		span.bold.center Epcot Center
	+set('content')
		p Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.

// COGS
+cog('test')
	+set('checked')
		.section.flex
			span.bold.center Edit PD
			select(name="attr_test")
				option(selected) None
	+set('unchecked')
		.section.flex
			span.bold.center Physical Defense

+cog('test2')
	+set('checked')
		.section.flex
			span.bold.center Edit MD
			select(name="attr_test")
				option(selected) None
	+set('unchecked')
		.section.flex
			span.bold.center Mystical Defense

// INPUTS
+input({name: 'test', type: 'text', value: 'test'})
+input({name: 'test', type: 'text', value: 'test', readonly: true})
+input({name: 'test', type: 'text'})
+input({name: 'test', type: 'number', value: 1})
+input({name: 'test', type: 'hidden', value: 0})
+input({name: 'test', type: 'text', value: 'test', scaled: true})
+input({name: 'test', type: 'text', value: 'test', scaled: true, readonly: true})
+input({name: 'test', type: 'number', value: 'test', scaled: true})
+input({name: 'test', type: 'checkbox', value: 1})
+input({name: 'test', type: 'radio', value: 1})

// SELECTS
+select('test', { Choose: [], Mortal: [{name: 'First option', value: 0}], Divine: [{name: 'Second option'}] })
+select('test', { Choose: [{name: 'First option', value: 0}] })

// TEXTAREA
+textarea('test')

// RADIOBOX
+radiobox({options: {name: 'test', value: 2, total: 6}})