.header {
	display: grid;
	grid-template-areas:
		"info cog";
	grid-template-columns: 1fr auto;
	margin: 0 auto 1rem auto;
	min-width: 600px;
	@include border;

	.toggle {

		&+.toggle-unchecked,
		&+.toggle-checked {
			grid-area: info;
			row-gap: 1rem;
			column-gap: 2rem;
		}

		&+.toggle-unchecked {
			grid-template-areas:
				"player class level"
				"character ancestry combatMastery";
		}

		&+.toggle-checked {
			grid-template-areas:
				"class subclass"
				"ancestry background";
		}
	}

	input[type="number"] {
		margin: 0 auto;
	}
}

@each $header in $headers {
	.#{$header} {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}