- blocks = {}

mixin set(key)
	- blocks[key] = this.block

include _cog.pug
include _details.pug
include _input.pug
include _radiobox.pug
include _select.pug
include _spanInput.pug
include _tabs.pug
include _textarea.pug